form {
  background-color: #fff;
  width: 468px;
  border-radius: 20px;
  padding: 20px;
}

input,
textarea {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border: none;
  background-color: #7f4ef017;
  border-radius: 8px;
  width: 430px;
  outline-color: #8e65ed;
  resize: vertical;
}

#firstName,
#lastName {
  width: 200px;
}

.card-title {
  color: #333;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-file-upload input[type='file'] {
  display: none;
}

.custom-file-upload label {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #8e65ed;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.custom-file-upload label:hover {
  background-color: #7f4ef0;
}
